export(
    "fm.create",
    "fm.create.from.matrix",
    "fm.open",
    "fm.load",
    "fm.create.from.text.file",
    "closeAndDeleteFiles"
)
exportClasses("filematrix")
exportMethods(
    "as.matrix",
    "dim",
    "dim<-",
    "dimnames",
    "dimnames<-",
    "rownames",
    "rownames<-",
    "colnames",
    "colnames<-",
    "length",
    "close"
)
S3method("[", filematrix)
S3method("[<-", filematrix)

importFrom("methods", "setRefClass", "new")
# importFrom("RSQLite", "SQLite", "dbConnect", "dbGetQuery", "dbDisconnect")
importFrom("utils", "flush.console", "tail")